
.flexslider{
  border-radius: 0;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;

  .flex-direction-nav a{
    display: block;
    font-size: 0;
    color: transparent;
    background: fade(#000, 60%);
  }

  .flex-next{
    left: 42px!important;
    opacity: 1!important;

    &:before{
      content: ""!important;
      display: block;
      padding: 40px 24px 0px 20px;
      background: url("images/flex-arrow.png")no-repeat center center;
      background-size: 12px;
    }
  }

  .flex-prev{
    left: auto!important;
    left: 0;
    opacity: 1!important;

    &:before{
      content: ""!important;
      display: block;
      padding: 40px 16px 0px 20px;
      background: url("images/flex-arrow.png")no-repeat center center;
      background-size: 12px;

      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);

    }
  }

  .flex-caption{
    display: none;
    position: absolute;
    bottom: 25%;
    right: 30px;
    text-align: right;

    p, .subslagzin{
      color: #fff;
      padding: 8px 12px;
      margin-bottom: 15px;
      background: rgba(0,0,0,0.8);
      letter-spacing: 1px;
      font-size: @font-size-large;
      text-transform: uppercase;
    }
    p{
      display: inline-block;
    }
  }

  .flex-control-nav{
    bottom: 10px;
    text-align: center;
    z-index: 9;

    li{
      a{
        background: #fff;
        border: 1px solid #fff;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
      }
      a.flex-active{
        background: @brand-primary;
      }
    }
  }

  .slides{
    img{
      height: auto;
    }
  }

  /* THUMBS */
  .flex2-control-thumbs{
    padding: 0;
    margin-top: 25px;
    @thumb-margin: 1%;
    li{
      list-style: none;
      
      img{
        max-width: 100%;
      }

      @media screen and (max-width: @screen-xs-min) {
        .ColumniseThumbs(2, @thumb-margin);
      }

      @media screen and (min-width: @screen-xs-min) and (max-width: @screen-xs-max){
        .ColumniseThumbs(3, @thumb-margin);
      }

      @media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
        .ColumniseThumbs(4, @thumb-margin);
      }

      @media @normal{
        .ColumniseThumbs(5, @thumb-margin);

      }
    }
  }

  @media @landscape{
    .flex-caption{
      display: block;

      .subslagzin{
        display: none;
      }
    }
  }

  @media @tablet{
    .flex-caption{
      .subslagzin{
        display: block;
      }
    }
  }
}