// Insert your styling here.
footer.footer{
  #block-block-1{
    text-align: center;
    a{
      color: @brand-primary;
      .transition(all, 0.35s);
      text-decoration: none;
      &:hover{
        color: fade(@brand-primary, 70%);
      }
    }
  }
}