//
// Grid system
// --------------------------------------------------


// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
  .container-fixed();

  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }
  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}


// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.container-fluid {
  .container-fixed();
}


// Row
//
// Rows contain and clear the floats of your columns.

.row {
  .make-row();
}


// Columns
//
// Common styles for small and large grid columns

.make-grid-columns();


// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.

.make-grid(xs);


// -------------- col-ms-fix -------------------
.col-ms-1,
.col-ms-2,
.col-ms-3,
.col-ms-4,
.col-ms-5,
.col-ms-6,
.col-ms-7,
.col-ms-8,
.col-ms-9,
.col-ms-10,
.col-ms-11,
.col-ms-12 {
  position: relative;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  (@grid-gutter-width / 2);
  padding-right: (@grid-gutter-width / 2);
}

// ----- col-ms breakpoints and related classes -----

@media (min-width: @screen-xs) {
  .container {
    @media (max-width: @screen-sm ) {
      max-width: @screen-sm - 20px;
    }
  }

  .col-ms-1,
  .col-ms-2,
  .col-ms-3,
  .col-ms-4,
  .col-ms-5,
  .col-ms-6,
  .col-ms-7,
  .col-ms-8,
  .col-ms-9,
  .col-ms-10,
  .col-ms-11 {
    float: left;
  }
  .col-ms-1  { width: percentage((1 / @grid-columns)); }
  .col-ms-2  { width: percentage((2 / @grid-columns)); }
  .col-ms-3  { width: percentage((3 / @grid-columns)); }
  .col-ms-4  { width: percentage((4 / @grid-columns)); }
  .col-ms-5  { width: percentage((5 / @grid-columns)); }
  .col-ms-6  { width: percentage((6 / @grid-columns)); }
  .col-ms-7  { width: percentage((7 / @grid-columns)); }
  .col-ms-8  { width: percentage((8 / @grid-columns)); }
  .col-ms-9  { width: percentage((9 / @grid-columns)); }
  .col-ms-10 { width: percentage((10/ @grid-columns)); }
  .col-ms-11 { width: percentage((11/ @grid-columns)); }
  .col-ms-12 { width: 100%; }

  // Push and pull columns for source order changes
  .col-ms-push-1  { left: percentage((1 / @grid-columns)); }
  .col-ms-push-2  { left: percentage((2 / @grid-columns)); }
  .col-ms-push-3  { left: percentage((3 / @grid-columns)); }
  .col-ms-push-4  { left: percentage((4 / @grid-columns)); }
  .col-ms-push-5  { left: percentage((5 / @grid-columns)); }
  .col-ms-push-6  { left: percentage((6 / @grid-columns)); }
  .col-ms-push-7  { left: percentage((7 / @grid-columns)); }
  .col-ms-push-8  { left: percentage((8 / @grid-columns)); }
  .col-ms-push-9  { left: percentage((9 / @grid-columns)); }
  .col-ms-push-10 { left: percentage((10/ @grid-columns)); }
  .col-ms-push-11 { left: percentage((11/ @grid-columns)); }

  .col-ms-pull-1  { right: percentage((1 / @grid-columns)); }
  .col-ms-pull-2  { right: percentage((2 / @grid-columns)); }
  .col-ms-pull-3  { right: percentage((3 / @grid-columns)); }
  .col-ms-pull-4  { right: percentage((4 / @grid-columns)); }
  .col-ms-pull-5  { right: percentage((5 / @grid-columns)); }
  .col-ms-pull-6  { right: percentage((6 / @grid-columns)); }
  .col-ms-pull-7  { right: percentage((7 / @grid-columns)); }
  .col-ms-pull-8  { right: percentage((8 / @grid-columns)); }
  .col-ms-pull-9  { right: percentage((9 / @grid-columns)); }
  .col-ms-pull-10 { right: percentage((10/ @grid-columns)); }
  .col-ms-pull-11 { right: percentage((11/ @grid-columns)); }

  // Offsets
  .col-ms-offset-1  { margin-left: percentage((1 / @grid-columns)); }
  .col-ms-offset-2  { margin-left: percentage((2 / @grid-columns)); }
  .col-ms-offset-3  { margin-left: percentage((3 / @grid-columns)); }
  .col-ms-offset-4  { margin-left: percentage((4 / @grid-columns)); }
  .col-ms-offset-5  { margin-left: percentage((5 / @grid-columns)); }
  .col-ms-offset-6  { margin-left: percentage((6 / @grid-columns)); }
  .col-ms-offset-7  { margin-left: percentage((7 / @grid-columns)); }
  .col-ms-offset-8  { margin-left: percentage((8 / @grid-columns)); }
  .col-ms-offset-9  { margin-left: percentage((9 / @grid-columns)); }
  .col-ms-offset-10 { margin-left: percentage((10/ @grid-columns)); }
  .col-ms-offset-11 { margin-left: percentage((11/ @grid-columns)); }
}

// -------------- end col-ms-fix -------------------


// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: @screen-sm-min) {
  .make-grid(sm);
}


// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: @screen-md-min) {
  .make-grid(md);
}


// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: @screen-lg-min) {
  .make-grid(lg);
}

// -------------- col-xl-fix -------------------

// XLarge screen
@screen-xlg:                  1600px;
@screen-xlg-min:              @screen-xlg;
@screen-xlg-hughdesktop:      @screen-xlg-min;

// So media queries don't overlap when required, provide a maximum
@screen-lg-max:              (@screen-xlg-min - 1);

//== Container sizes
// Large screen / wide desktop
@container-xlarge-desktop:      ((1540px + @grid-gutter-width));
@container-xlg:                 @container-xlarge-desktop;

// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
  @media (min-width: @screen-xlg-min) {
    width: @container-xlg;
  }
}

.make-grid-xlgcolumns() {
  // Common styles for all sizes of grid columns, widths 1-12
  .col(@index) when (@index = 1) { // initial
    @item: ~".col-xlg-@{index}";
    .col((@index + 1), @item);
  }
  .col(@index, @list) when (@index =< @grid-columns) { // general; "=<" isn't a typo
    @item: ~".col-xlg-@{index}";
    .col((@index + 1), ~"@{list}, @{item}");
  }
  .col(@index, @list) when (@index > @grid-columns) { // terminal
    @{list} {
      position: relative;
      // Prevent columns from collapsing when empty
      min-height: 1px;
      // Inner gutter via padding
      padding-left:  (@grid-gutter-width / 2);
      padding-right: (@grid-gutter-width / 2);
    }
  }
  .col(1); // kickstart it
}
.make-grid-xlgcolumns();
.make-grid(xlg);

// Generate the large columns
.make-xlg-column(@columns; @gutter: @grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  (@gutter / 2);
  padding-right: (@gutter / 2);

  @media (min-width: @screen-xlg-min) {
    float: left;
    width: percentage((@columns / @grid-columns));
  }
}
.make-xlg-column-offset(@columns) {
  @media (min-width: @screen-xlg-min) {
    margin-left: percentage((@columns / @grid-columns));
  }
}
.make-xlg-column-push(@columns) {
  @media (min-width: @screen-xlg-min) {
    left: percentage((@columns / @grid-columns));
  }
}
.make-xlg-column-pull(@columns) {
  @media (min-width: @screen-xlg-min) {
    right: percentage((@columns / @grid-columns));
  }
}
// -------------- end col-ms-fix -------------------
